.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background: url("/images/backgroud1.jpg") center;
    height: 150px;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.menu-bar {
    width: 100%;
    height: 50px;
    background-color: #ffddcc;
    position: absolute;
    left: 0;
    top: 150px;
    box-shadow: inset 0 0 8px 0 #6d2b06;
}

.menu-element {
    padding: 5px;
    display: inline-block;
}

.app-content {
    position: absolute;
    left: 25%;
    top: 250px;
    right: 25%;
}

.file-page {

}

.page {
    background-color: #ffddcc;
    box-shadow: inset 0 0 8px 0 #6d2b06;
    border-radius: 4px;
}

.name-view {
    display: flex;
    margin: 10px;
    color: blue;
    padding-top: 10px;
}

.view {
    width: 80%;
    margin: 10px;
    box-shadow: inset 0 2px 5px 0 lightblue;
    background-color: white;
    display: block;
    border-style: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.comment-view {
    height: 100px;
    display: inline-block;
}

.notes-view {
    height: 100px;
}

.tags-view {
    display: inline-block;
    width: 100%;
    text-align: left;
    padding: 5px
}

.comment-page {
    margin-top: 10px;
    text-align: left !important;
    width: 60%;
}

.comment-footer {
    font-size: xx-small;
    text-align: right;
    background-color: #c24e0a;
}

.comment-input {
    height: 80px;
    width: 250px;
    display: block;
}

.search-input {
    width: 70px;
}

.box {
    width: 100%;
}

.file-entry {
    display: flow-root;
    text-align: center;
    padding: 10px;
    box-shadow: inset 0 0 8px 0 #6d2b06;
    background-color: #ffddcc;
    margin: 5px;
    border-radius: 4px;
}

.btn {
    margin: 5px;
}

.tag-view {
    margin: 5px;
    cursor: pointer;
    color: blue;
    float: left;
}

.name-link {
    float: left;
    color: blue;
    font-weight: 700;
    text-decoration: none;
}

.search-result {
    padding: 20px;
    padding: 20px;
}

.search-term {
    font-weight: 700;
}