.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background: url("/images/backgroud1.jpg") center;
    height: 150px;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.menu-bar {
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
    position: absolute;
    left: 0;
    top: 150px;
}

.menu-element {
    padding: 5px;
    display: inline-block;
}

.app-content {
    position: absolute;
    left: 25%;
    top: 250px;
    right: 25%;
}

.file-page {
    background-color: #f1f1f1;
    box-shadow: inset 0 2px 5px 0 lightblue;
}

.name-view {
    display: flex;
    margin: 10px;
}

.view {
    width: 80%;
    margin: 10px;
    box-shadow: inset 0 2px 5px 0 lightblue;
    background-color: #f9f9f9;
    display: block;
    border-style: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.comment-view {
    height: 100px;
    margin-top: 5px;
}

.notes-view {
    height: 100px;
}

.tags-view {
    height: 20px;
}

.comment-page {
    margin-top: 10px;
    text-align: left !important;
    width: 60%;
    box-shadow: inset 0 2px 5px 0 lightblue;
}

.comment-footer {
    font-size: xx-small;
    text-align: right;
    background-color: lightgray;
}

.comment-input {
    height: 80px;
    width: 250px;
    display: block;
}

.search-input {
    width: 70px;
}

.box {
    width: 100%;
}

.error-box {
    background-color: red;
}

.msg-box {
    background-color: green;
}

.file-entry {
    display: flow-root;
    text-align: center;
    padding: 10px;
    box-shadow: inset 0 2px 5px 0 lightblue;
    background-color: #f9f9f9;
    margin: 5px;
}

.btn {
    margin: 5px;
}

.tag-view {
    border-color: #00d9ff;
    background-color: blue;
    margin: 5px;

}