body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.details-div {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: blanchedalmond;
    margin: 5px;
}

.link-span {
    cursor: pointer;
    color: blue;
}

#file-reader {
    width: 100px !important;
}

.input-div {
    display: block;
    margin: 5px;
}

.notes-input {
    height: 80px;
    resize: none;
    width: 250px;
    margin: 5px;
}

.text-input {
    width: 250px;
    margin: 5px;
}

table {
    border-collapse: collapse;
    margin: auto;
}

th {
    border: 1px solid #999;
    padding: 0.5rem;
}

td {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

/*Classes for creating dialogs*/

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background: url("/images/backgroud1.jpg") center;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.menu-bar {
    width: 15%;
    height: -webkit-fill-available;
    display: block;
    float: left;
    background-color: #606061;
}
